<div>
    <%= image_tag user.avatar.url(:medium), :class => 'avatar' %>
    <%= link_to user.name, user %>
</div>

<% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>

