<head>
	

</head>


<!--THE REAL STUFFF-->

<div class="header-fixed header-down">
<div class="container">
	<!-- Navigation section -->
					<nav class="z-nav">
				    	
				        
				        <ul >
				        <!--THE LOGIC  -->
				          <% if logged_in? %>
    				        	<li class="z-nav__item">
    				        		<%= link_to "Sign out", logout_path, method: "delete", :class => 'z-nav__link z-nav__link--simple current-position' %>
    				        	</li>
                  		  <% else %>
    				        	<li class="z-nav__item">
    				        		<%= link_to "Sign in", login_path, :class => 'z-nav__link z-nav__link--simple current-position' %>
    				        	</li>
    				      <% end %>
    				    <!--THE LOGIC  -->

				        </ul>
				        
				    </nav>
	<!-- end navigation section -->
</div>
</div>

